MONGODB_URI=mongodb+srv://720723110025_db_user:YOUR_PASSWORD@cluster0.k67dodz.mongodb.net/fitnesscoach?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_here_make_it_long_and_random
PORT=5000
NODE_ENV=development
